<header th:fragment="header" class="site-header">
    <div class="site-header-inner">
        <nav class="site-nav">
            <wa-button th:href="@{/}" variant="neutral" size="small" appearance="plain" class="header-link">
                <wa-icon slot="start" name="house"></wa-icon>
                <span th:text="#{nav.home}"></span>
            </wa-button>
            <wa-button  hx-get="/products/load"
                        hx-target="#productsContainer"
                        hx-swap="innerHTML" variant="neutral" size="small" appearance="plain" class="header-link">
                <wa-icon slot="start" name="list"></wa-icon>
                <span th:text="#{nav.allProducts}"></span>
            </wa-button>
            <wa-button th:href="@{/search}" variant="neutral" size="small" appearance="plain" class="header-link search-nav" id="headerSearchLink">
                <wa-icon slot="start" name="magnifying-glass"></wa-icon>
                <span th:text="#{nav.search}"></span>
            </wa-button>
        </nav>
    </div>
</header>